body{
    background-color: #110C12;
    color: rgb(209, 209, 19);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;

}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.p1{
    background-image: url(Imagens_rogerio/MC.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.p4{
    background-image: url(Imagens_rogerio/espada.gif);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}

.p5{
    background-image: url(Imagens_rogerio/knight.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.dialogo2{
    background-image: url(Imagens_rogerio/elmo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

.dialogo5{
    background-image: url(Imagens_rogerio/floresta.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
  
}

.dialogo9{
    background-image: url(Imagens_rogerio/combate.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
}

.p18{
    background-image: url(Imagens_rogerio/manha.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}
.p19{
    background-image: url(Imagens_rogerio/fim.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
}